[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
pxros-hr.workspace = true

anyhow = "1.0.79"
clap = { version = "4.5.0", features = ["derive", "string"] }
